* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f45e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 500px;
  background: rgb(226, 156, 65);
  border-radius: 5px;
  box-shadow: 8px 10px 20px -3px rgba(0,0,0,0.1);
  display: grid;
}

.Calculator {
  display: grid;
  grid-template-columns: [first] 1fr [second] 1fr;
}

.EquationContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.ButtonContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: .3rem;
}

.HistoryContainer {
  display: grid;
  justify-content: center;
  align-items: top;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.button {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.FormattedEquation {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

