* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "digital";
  src: url("../src/digital-7.regular.ttf");
}

body {
  height: 100vh;
  background: #f4f4f45e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 60vh;
  height: 80vh;
  background: linear-gradient(to right,rgb(0, 49, 156) 67%, rgb(0, 34, 107) 65% 35%) ;
  border-radius: 5px;
  box-shadow: 8px 10px 20px -3px rgba(0,0,0,0.1);
  display: grid;
}

.Calculator {
  display: grid;
  max-height: 80vh;
  grid-template-columns: [first] 1fr [second] 0.5fr;
  grid-template-rows: [first] 0.01fr [second] 0.2fr [third] 0.1fr [fourth] 1fr;
  align-items: center ;
}

.cat{
  align-self: flex-start;
  height:50px;
  grid-row: 1;
}

.EquationEditor {
  background: rgb(68, 68, 68);
  border: 1px solid rgb(32, 29, 73);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  min-height: 6.5vh;
  height: min-content;
  font-family: "digital";
  font-size: 4vh;
  overflow-x: auto;
  font-weight: bold;
}



.errorMsg {
  grid-row: 3;
  color: red;
  font-size: fit-content;
  text-align: center;
}

.ButtonContainer{
  grid-column: 1/2;
  grid-row: 4;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4,1fr);
  gap: 1vh;
  padding: 1rem;
}

.HistoryContainer {
  grid-template-rows: [first] 0.1fr [second] 1fr;
  height: 100%;
  grid-row: 1/5;
  display: block;
  justify-content: center;
  border: 2px solid rgb(10, 8, 36);
  border-radius: 5px;
  padding: 10px;
  overflow-x: hidden; 
  overflow-y: auto;
}

button[value = '+'],button[value = '-'], button[value = '*'], button[value = '/'], button[value = '^'], button[value = '('], button[value = ')'], button[value = '±'] {
  background: #ffdb39;
}

button[value='clr'], button[value = '←']{
  background: #ff3a3a;
}

button[value='=' ] {
  background: #008a0b;
  grid-column: 3/5 !important;
}

button[value='rand'] {
  background: rgb(255, 138, 70);
}

.FunctionButton {
  background: rgb(206, 206, 206);
  border: 1px solid rgb(10, 8, 36);
  border-radius: 5px;
  padding: 0px;
  color: #333;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 2vh;
  font-weight: 700;
}



.FormattedEquation {
  border: 1px solid rgb(32, 29, 73);
  background: rgb(99, 99, 99);
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 10px;
  grid-row: 2/3;
  width: 100%;
  height: 10%;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: auto;
  gap: 1vh;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: 500;
  font-size: 2vh;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

button:active {
  padding: 0%;
}

#historyHeader {
  text-align: center;
  font-size: 2.5vh;
  color: #fff;
  padding: 8%;
  grid-row: 1;
}

